<%= render 'shared/navbar' %>
<div class="container" style="margin-top: 56px">
  <div class="row">
    <div class="show-cocktail">
      <%=  cl_image_tag @cocktail.photo.key, width: 350, height: 400 %>
    </div>
    <div class="show-cocktail-details">
      <h3><%= @cocktail.name %></h3>
            <ul class="list">
              <% @cocktail.doses.each do |dose| %>
                <li><%= dose.description %> <%= dose.ingredient.name %></li>
                <%= link_to  dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                <span>
                  <i class="fa fa-trash"></i>
                </span>
                <% end %>
              <% end %>
              <br>
              <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail), class: "button" %>
              <%= link_to 'Browse cocktails', cocktails_path, class: "button" %>
            </ul>
    </div>
  </div>
</div>