<%= render 'shared/navbar' %>
<div class="container" style="margin-top: 80px">
  <div class="row" style="justify-content: center">
    <div class="show-cocktail-details">
      <div class="cocktail-title">
        <h3><%= @cocktail.name %>
          <%= link_to new_cocktail_dose_path(@cocktail) do %>
            <i class="fa fa-edit"></i>
          <% end %>
        </div>
            <ul class="list">
              <% @cocktail.doses.each do |dose| %>
                <div class="cocktail-details">
                  <%= link_to  dose_path(dose), method: :delete, data: { confirm: "Delete this ingredient?" } do %>
                     <span>
                      <i class="fa fa-trash"></i>
                    </span>
                  <% end %>
                  <li><%= dose.description %> <%= dose.ingredient.name %></li>
                </div>
              <% end %>
              <br>
              <div>
              </div>
            </ul>
    </div>
        <div class="show-cocktail">
      <%=  cl_image_tag @cocktail.photo.key, width: 350, height: 400 %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>