<% background_url = cl_image_path @cocktail.photo.key, width: 400, height: 500, crop: :fill %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= background_url %>');">
  <p><%= @cocktail.name %></p>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-4">
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.description %> <%= dose.ingredient.name %></li>
          <%= link_to "Delete ingredient", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </ul>
    </div>
  </div>
    <%= render 'doses/new', cocktail: @cocktail, dose: @dose %>
</div>