<%= render 'shared/navbar' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 add-cocktail">
		<h3>Add an ingredient</h3>
		<div>
			<%= simple_form_for [@cocktail, @dose] do |f| %>
			  <%= f.association :ingredient %>
			  <%= f.input :description %>
			  <%= f.button :submit, 'Submit', class: "button" %>
			<% end %>
			<br>
		</div>
  </div>
</div>